

h1 {
    color: black;
    text-align: left;
}

body {
    color: darkblue;
    font-family: 'Lucida Sans';
    font-size: 20pt;
    align-content: left;
}

p {
    color: black;
    font-size: 12pt;
}

ul {
    color: black;
    font-size: 12pt;
}